* {margin: 0; padding: 0;}

html, body { height: 100%; }
input[type=text] {
    width: 300px;
}

ol, ul { display: block; font-size: 18px; }

#change-task, #ready-tasks,
#not-ready-tasks, #recently-added { display: none; }

#wrapper {
    position: relative;
    margin: 0 auto;
    width: 960px;
    min-height: 100%;
}
#footer {
    position: absolute;
    background-color: #000;
    height: 40px;
    width: 100%;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 10px;
}
#recently-added { color: green; }
#ready-tasks { opacity: 0.5; }

a { text-decoration: none !important; }

a.del {
    display: inline-block;
    width: 35px;
    text-align: center;
    margin-left: -125px;
    color: #ccc;
    border-radius: 5px;
}
a.del:hover {
    display: inline-block;
    color: White;
    background-color: Red;
}
a.edit {
    display: inline-block;
    width: 35px;
    text-align: center;
    margin-right: 5px;
    color: #ccc;
    border-radius: 5px;
}
a.edit:hover {
    display: inline-block;
    color: White;
    background-color: #0000ff;
}

.center-block { width: 600px; margin: 0 auto; }

.clearfix {
    clear: both;
    height: 70px;
}
.checkbox { margin-left: 120px; }

.copyright { float: right; }

.error  {
    display: block;
    float: right;
    width: 170px;
    line-height: 1.2em;
    background-color: #ff3333;
    border-radius: 7px;
    font-size: 12px;
    color: #fff;
    padding: 5px;
}
.form-control { display: inline; }

.info { float: left; }

li.task { margin-left: 115px; }
li.task .shell { margin-left: 45px; }

span.date {
    margin-left: 15px;
    font-style: normal;
    color: #f0f0f0;
    background-color: #009933;
    border-radius: 5px;
}

